@model IEnumerable<MovieMVC.Models.Tile>

<div class="row">
    <div class="col-md-12 movie-content">
        <h1>Movies</h1>
        <p class="movie-button">
            @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TileId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TileDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReadUri)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateUri)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TileId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TileDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReadUri)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateUri)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TileId }, new { @class = "btn btn-default" }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.TileId }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


